<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
    	As a Master of Science student in EECS of Oregon State University, currently I am working in Dr. Rebecca Hutchinson's Machine Learning Research Group, dealing with Occupancy-Detection Model that takes into account class-conditional noise in classification problems. 
    </p>
	<p>
		I am interested in the intersection of machine learning and other disciplines, such as ecology, thermal and fluid science, and robotics.
	</p>
</div><!--//summary-->
</section><!--//section-->