<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
    	As a Master of Science student in EECS of Oregon State University, currently I am working in Dr. Rebecca Hutchinson's Machine Learning Research Group, dealing with Occupancy-Detection Model that takes into account class-conditional noise in classification problems. Our paper 
    	<a href="http://aaai.org/ocs/index.php/AAAI/AAAI17/paper/view/14859">"Species Distribution Modeling of Citizen Science Data as a Classification Problem with Class-conditional Noise"</a> was published on AAAI-17 in Feb. 2017.

    </p>
	<p>
		Based on my background and interest, I am Looking for an opportunity in the field of Software Engineering, Machine Learning and Data Science in a renowned organization.
	</p>
</div><!--//summary-->
</section><!--//section-->