 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master of Science in Computer Science</h4>
    <h5 class="meta">Oregon State University</h5>
    <div class="time">2015.10 - 2017.6</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Master of Engineer in Mechanical Engineer</h4>
    <h5 class="meta">Oregon State University</h5>
    <div class="time">2012.10 - 2015.4</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Master of Science in Mechanical Engineer</h4>
    <h5 class="meta">Southwest Jiaotong University</h5>
    <div class="time">2004.9 - 2007.7</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Mechanical Engineer</h4>
    <h5 class="meta">Southwest Jiaotong University</h5>
    <div class="time">2000 - 2004</div>
</div><!--//item-->
</div><!--//education-container-->