<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2015.10 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Oregon State University, Corvallis, Oregon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Study a Semi-Parametric Framework for Class-conditional Label Noise in Dr. Rebecca Hutchinson's Research Group (see Publications)
                        </p>  
                        <p>Explore noise influences from both class features and noise features.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Oregon State University, Corvallis, Oregon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Innovated a micro-combustor of CH4 in Dr. Vinod Narayanan's research group.
                        </p> 
                        <p>Achieved significant low heat loss by decreasing the critical length (channel height) of the device to 200 um, with combustion rate of fuel of 98% at low temperature (only 500 oC).
                        </p> 
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Manager of Biding & Project Management</h3>
                            <div class="time">2007 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Jinxiang Sports Facilities Engineering Co, Suzhou, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Finished 21 projects, amount over $6,500,000
                        </p>  
                        <p>Liaison with customers, including elementary school, mid/high school, and local governments.
                        </p>  
                        <p>Managed a 23-person’s construction group, oversaw constructions of facilities.
                        </p> 
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->