<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>As a Master of Science student in Dr. Rebecca A. Hutchinson's Machine Learning Group, currently I am dealing with classification problems with class conditional noise.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    Species Distribution Modeling
                    </a>
                    </span> - <span class="project-tagline">
                    <p>
                        Species Distribution Modeling is to learn a species’ geographic distribution from observations of the species and environment variables. For imperfect data, such as the citizen science data from eBird, which is collected by volunteers, mistakes will cause label noise.     
                    </p>
                    <p>
                        In this project we treat this problem as a classification problem with class-conditional label noise. Our contribution is to introduce features of the processes that cause label noise, separately from the class features. These noise features, such as the time of observation or expertise of the observer, improve model performance and identifiability
                    </p>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    House Renting Suggestion
                    </a>
                    </span> - <span class="project-tagline">
                    <p>
                        In this project, we designed a approach to predict apartment renting price in Corvallis based on the infor- mation listed on Craigslist. We first used scrapy to crawl raw data on Craigslist in Corvallis, after data cleaning, we implemented MySQL queries to join and project with two schemas, and stored the data into one csv file. We used Linear Regression and Neural Network to fit the training data set. The results on the testing dataset showed that these two methods perform as well as expected.
                    </p>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    CNN Deconvolution Boundary Detection
                    </a>
                    </span> - <span class="project-tagline">
                    <p>
                        Proposed a neural network architecture to detect boundaries in image by learning a CNN as feature   detector, and deconvolve learnt features to restore images with clear contours.
                    </p>
                    <p>
                        Achieved stable and reliable CNN Deconvolution Boundary Detection results.
                    </p>
                    </span>
                </div><!--//item-->
            </section><!--//section-->