<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Below are some projects that I finished/in process in Machine Learning:
                    </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    Full-Stack Web Development: Website for E.Cafe at Oregon State University
                    </a>
                    </span> - HTML/CSS/JavaScript/JQuery/Node.js/Express.js/MongoDB/AJAX/AWS/MVC <span class="project-tagline">
                    <div class="time">01/2017 - Current</div>
                    <ul>
                        <li>
                            Developing a commercial-use dynamic website supporting user log in, food ordering and payment.
                        </li>
                        <li>
                            Working with AWS EC2, installing and administering Linux distributions such as Ubuntu and CentOS.
                        </li>
                        <li>
                            Creating, updating, and maintenance of MongoDB database.
                        </li>
                    </ul>
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    House Renting Suggestion
                    </a>
                    </span> - Scrapy/Python/MySQL/Pybrain <span class="project-tagline">
                    <div class="time">01/2017 - 03/2017</div>
                    <ul>
                        <li>
                            Developed a Python Spider to crawl house rental information from Craigslist using Scrapy framework.
                        </li>
                        <li>
                            Used MySQL to join and project data from two schemas.
                        </li>
                        <li>
                            Fitted a Neural Network Model with Pybrain library, generating results with acceptable accuracy (over 71%).
                        </li>
                    </ul>
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    Species Distribution Modeling
                    </a>
                    </span> - R/HPC/Machine Learning/Graphic Model/<span class="project-tagline">
                    <div class="time">10/2015 - Current</div>
                    <ul>
                    <li>
                        Species Distribution Modeling is to learn a species’ geographic distribution from observations of the species and environment variables. For imperfect data, such as the citizen science data from eBird, which is collected by volunteers, mistakes will cause label noise.     
                    </li>
                    <li>
                        In this project we treat this problem as a classification problem with class-conditional label noise. Our contribution is to introduce features of the processes that cause label noise, separately from the class features. These noise features, such as the time of observation or expertise of the observer, improve model performance and identifiability
                    </li>
                    </ul>
                    </span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title">
                    <a href="#" target="_blank">
                    CNN Deconvolution Boundary Detection 
                    </a>
                    </span> - Python/C++/Caffe<span class="project-tagline">
                    <div class="time">01/2016 - 03/2016</div>
                    <ul><li>
                        Proposed a neural network architecture to detect boundaries in image by learning a CNN as feature   detector, and deconvolve learnt features to restore images with clear contours.
                    </li>
                    <li>
                        Achieved stable and reliable CNN Deconvolution Boundary Detection results.
                    </li></ul>
                    </span>
                </div><!--//item-->
            </section><!--//section-->